---
import Container from "@/components/Container.astro";
import NoEncontrada from "@/layouts/NoEncontrada.astro";
---

<NoEncontrada title="Error 404" description="" transition:persist>
  <Container>
    <section class="mx-auto justify-center min-h-[100vh] flex flex-col gap-10">
      <h2 class="text-7xl font-medium text-white text-center">
        Página No Encontrada
      </h2>
      <img
        decoding="async"
        class="w-[300px] h-auto mx-auto"
        src="/img/ArtexAlex.webp"
        alt=""
      />
      <div class="text-center hover:scale-110 transition">
        <a
          href="/"
          class="bg-slate-500 text-white hover:bg-orange-300 hover:text-black px-5 py-2 text-2xl font-extralight rounded-xl inline"
          >Ir a la página principal</a
        >
      </div>
    </section>
  </Container>
</NoEncontrada>
