---
import { PRODUCTS } from "@/lib/products";
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Productos | Accede a cada uno de los productos" description="">
  <section class="flex flex-col mt-10">
    <h2 class="font-title text-center text-6xl">Todos Nuestros Productos</h2>
    <Container>
      <div
        class="relative grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 content-between gap-5 place-items-center mx-auto px-10"
      >
        {
          PRODUCTS.map((product) => (
            <article class="mt-7 relative duration-500 shadow-md shadow-neutral-600 cursor-pointer overflow-hidden h-72 w-full rounded-2xl hover:duration-700 hover:-translate-y-3">
              <a href={`/${product.id}/`}>
                <div class="ease-in bg-gradient-to-b from-transparent to-gray-500 transition  img">
                  <img
                    class="w-full h-72 transition "
                    decoding="async"
                    loading="lazy"
                    src={product.img}
                    alt={`imagen del producto - ${product.id}`}
                  />
                </div>
              </a>
            </article>
          ))
        }
      </div>
    </Container>
    <a
      class="mx-auto text-center text-base mt-10 bg-slate-600 hover:bg-yellow-200 transition hover:text-[#012029] text-white font-extrabold px-3 py-1 rounded-lg inline-block"
      href="/AllProducts">Ver Más</a
    >
  </section>
</Layout>

<style>
  @import url("https://fonts.cdnfonts.com/css/caviar-dreams");
  @import url("https://fonts.cdnfonts.com/css/ever-looser-untextured");
  @import url("https://fonts.cdnfonts.com/css/rayville-free-personal-use");
  h6,
  h3,
  h4,
  h5 {
    font-family: "Rayville Free Personal Use", "Caviar Dreams", system-ui,
      sans-serif;
  }
  h1,
  h2 {
    font-family: "EVER LOOSER", "Caviar Dreams", system-ui, sans-serif;
  }
  p {
    font-family: "Caviar Dreams", system-ui, sans-serif;
    font-weight: 300;
  }
  a {
    font-family: "Caviar Dreams", system-ui, sans-serif;
    font-weight: bolder;
  }
  article:hover .img {
    transform: scale(1.05);
    filter: saturate(1.5);
  }
</style>
