<section
  class="flex w-full mx-auto max-w-[1000px] justify-between items-center"
>
  <slot />
</section>
<style>
  @import url("https://fonts.cdnfonts.com/css/caviar-dreams");
  p,
  a {
    font-family: "Caviar Dreams", system-ui, sans-serif;
  }
</style>
