<section>
    <h3>Contacto</h3>
    <p><span class="font-extrabold">Dirección:</span> Av. Rivadavia 1439. Ciudad Autónoma de Buenos Aires.</p>
    <a href="/" class="bg-green-500 p-1 rounded-xl">Contactame</a>
</section>