---
import Facebook from "@/components/icons/SocialMedia/Facebook.astro"
import Instagram from "@/components/icons/SocialMedia/Instagram.astro"
import TikTok from "@/components/icons/SocialMedia/TikTok.astro"
---

<footer class="flex flex-col  p-5 mt-10 mx-auto bottom-0 relative">
    <div class="flex flex-row gap-28">
        <div class="flex flex-col justify-center items-center ml-5">
            <img class="w-60" src="/img/ArtexAlex.webp" alt="">
            <p>Creamos productos innovadores.</p>
            <p>infoArtexAlex@gmail.com</p>
            <p>(+57) 313 240 5135 </p>
            <div class="flex flex-row gap-3 justify-center items-center py-2">
                <a href="/">
                    <Facebook  class="size-8"/>
                </a>
                <a href="/">
                    <Instagram class="size-8"/>
                </a>
                <a href="/">
                    <TikTok class="size-8"/>
                </a>
            </div>
        </div>
        <div class="flex flex-row flex-grow justify-end mr-10  items-center gap-5">
            <ul>
                <li><p>Acerca de nosotros</p></li>
                <li><p>Acerca de nosotros</p></li>
                <li><p>Acerca de nosotros</p></li>
                <li><p>Acerca de nosotros</p></li>
            </ul>
            <ul>
                <li><p>Contacto Personalizado</p></li>
                <li><p>Contacto Personalizado</p></li>
                <li><p>Contacto Personalizado</p></li>
                <li><p>Contacto Personalizado</p></li>
            </ul>
            <ul>
                <li><p>Diseños de todo tipo</p></li>
                <li><p>Diseños de todo tipo</p></li>
                <li><p>Diseños de todo tipo</p></li>
                <li><p>Diseños de todo tipo</p></li>
            </ul>
    
        </div>
    </div>
    <p class="text-center">Derechos Reservados. Página realiazada por <a class="ml-1 px-1 absolute font-extrabold hover:text-white hover:bg-yellow-600 hover:scale-105 hover:rotate-2 transition" href="/">Ing. Neider Nieto</a></p>
</footer>