---
import Container from "@/components/Container.astro";
import Menu from "./icons/others/menu.astro";
import X from "./icons/others/x.astro";
---

<header
  class="flex justify-between items-center py-8 md:py-2 md:bg-transparent sticky top-0 left-0 z-[99]"
>
  <Container>
    <a href="/" class="z-[9999]">
      <img
        class="w-40"
        decoding="async"
        src="/img/ArtexAlex.webp"
        alt="Logo de ArtexAlex"
      />
    </a>
    <nav
      class="hidden md:flex opacity-95 fixed md:static items-center text-center justify-center pt-32 md:pt-0 top-0 w-full md:w-auto md:h-auto h-[100vh] bg-slate-200 md:bg-transparent"
      id="nav"
    >
      <ul class="flex flex-col md:flex-row gap-3 [&>li>a]:font-extrabold">
        <li>
          <a
            class="hover:bg-black/50 transition p-2 text-xl md:text-base inline-block hover:-translate-y-[3px] hover:scale-110 rounded-lg hover:text-white"
            href="/#inicio">Inicio</a
          >
        </li>
        <img
          class="w-32 md:hidden h-auto mx-auto"
          src="/img/iconMenu.avif"
          alt=""
        />
        <li>
          <a
            class="hover:bg-black/50 transition p-2 text-xl md:text-base inline-block hover:-translate-y-[3px] hover:scale-110 rounded-lg hover:text-white"
            href="/AllProducts">Productos</a
          >
          <img
            class="w-32 md:hidden h-auto mx-auto"
            src="/img/iconMenu.avif"
            alt=""
          />
        </li>
        <li>
          <a
            class="hover:bg-black/50 transition p-2 text-xl md:text-base inline-block hover:-translate-y-[3px] hover:scale-110 rounded-lg hover:text-white"
            href="/#servicios">Servicios</a
          >
          <img
            class="w-32 md:hidden h-auto mx-auto"
            src="/img/iconMenu.avif"
            alt=""
          />
        </li>
        <li>
          <a
            class="hover:bg-black/50 transition p-2 text-xl md:text-base inline-block hover:-translate-y-[3px] hover:scale-110 rounded-lg hover:text-white"
            href="/Contact">Contacto</a
          >
          <img
            class="w-32 md:hidden h-auto mx-auto"
            src="/img/iconMenu.avif"
            alt=""
          />
        </li>
        <li>
          <a
            class="hover:bg-black/50 transition p-2 text-xl md:text-base inline-block hover:-translate-y-[3px] hover:scale-110 rounded-lg hover:text-white"
            href="/#ubicacion">Ubicación</a
          >
          <img
            class="w-32 md:hidden h-auto mx-auto"
            src="/img/iconMenu.avif"
            alt=""
          />
        </li>
      </ul>
    </nav>
    <div
      class="flex md:hidden mr-5 z-[100] relative bg-slate-900 p-2 rounded-full"
    >
      <Menu
        class="absolute opacity-1 cursor-pointer text-white size-7 menuview"
      />
      <X class="opacity-0 cursor-pointer text-white size-7 menuclose" />
    </div>
  </Container>
</header>

<style>
  .header {
    font-family: "Caviar Dreams", system-ui, sans-serif;
  }
  @media (min-width: 768px) {
    header {
      transition: animation 0.2s ease-in;
      animation: blur-header linear both;
      animation-timeline: scroll(root block);
      animation-range: 0 10px;
    }

    @keyframes blur-header {
      1% {
        color: white;
      }
      100% {
        z-index: 100;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(5px);
        color: white;
      }
    }
  }
  .menuview,
  .menuclose {
    transition: opacity 0.2s ease-in-out;
  }
  h6,
  h3,
  h4,
  h5 {
    font-family: "Rayville Free Personal Use", "Caviar Dreams", system-ui,
      sans-serif;
  }
  h1,
  h2 {
    font-family: "EVER LOOSER", "Caviar Dreams", system-ui, sans-serif;
  }
</style>

<script>
  const $menuView = document.querySelector(".menuview");
  const $menuClose = document.querySelector(".menuclose");
  const $nav = document.querySelector("#nav");

  $menuView.addEventListener("click", () => {
    $nav.classList.toggle("hidden");
    $menuView.classList.toggle("opacity-0");
    $menuClose.classList.toggle("opacity-0");
  });
  $menuClose.addEventListener("click", () => {
    $nav.classList.toggle("hidden");
    $menuView.classList.toggle("opacity-0");
    $menuClose.classList.toggle("opacity-0");
  });
</script>
