---

---

<header

  class="flex w-full mx-auto max-w-[70rem] justify-between items-center py-8 md:py-8"
>
  <a href="/">
    <img class="w-44" src="/img/ArtexAlex.webp" alt="" />
  </a>
  <nav class="hidden md:block">
    <ul class="flex gap-3 [&>li>a]:font-extrabold">
      <li>
        <a
          class="hover:bg-black/50 transition p-2 inline-block hover:-translate-y-[3px] hover:scale-110 rounded-lg hover:text-white"
          href="/">Inicio</a>
      </li>
      <li>
        <a
          class="hover:bg-black/50 transition p-2 inline-block hover:-translate-y-[3px] hover:scale-110 rounded-lg hover:text-white"
          href="/">Productos</a>
      </li>
      <li>
        <a
          class="hover:bg-black/50 transition p-2 inline-block hover:-translate-y-[3px] hover:scale-110 rounded-lg hover:text-white"
          href="/">Servicios</a>
      </li>
      <li>
        <a
          class="hover:bg-black/50 transition p-2 inline-block hover:-translate-y-[3px] hover:scale-110 rounded-lg hover:text-white"
          href="/">Contacto</a>
      </li>
      <li>
        <a
          class="hover:bg-black/50 transition p-2 inline-block hover:-translate-y-[3px] hover:scale-110 rounded-lg hover:text-white"
          href="/">Ubicación</a>
      </li>
    </ul>
  </nav>
</header>
