<section class="relative bg-gradient-to-t from-slate-900">
    <img
      class="w-screen h-80 object-center object-cover bg-no-repeat opacity-60"
      src="/img/fondo.avif"
      alt="Imagen de fondo"
    />
    <div
      class="absolute top-0 left-0 bottom-0 right-0
     flex flex-col justify-center items-center text-center text-white"
    >
      <h2 class="mb-5 text-3xl mx-80 font-extrabold">Artesanías a Partir de Desechos de Metal y Madera</h2>
      <p class="px-56">
        Contribuimos al desarrollo sostenible del sector agropecuario,
        agroalimentario y agroindustrial a través de la investigación y la
        extensión. Impulsamos la innovación y la transferencia de conocimiento
        para el crecimiento del país.
      </p>
    </div>
</section>
