---
import Container from "./Container.astro";
---

<section class="image bg-gradient-to-t from-slate-900 py-20">
  <Container>
    <!-- <div class="image"></div> -->
    <div
      class="
       flex flex-col justify-center items-center text-center text-white"
    >
      <h3 class="mb-5 text-xl md:text-6xl mx-24 md:mx-56 font-medium">
        Artesanías a Partir de Desechos de Metal y Madera
      </h3>
      <p class="mx-16 md:mx-48 text-xs md:text-xl text-pretty">
        Transformamos el desafío de los desechos en una oportunidad para la
        sostenibilidad. Desde nuestro compromiso con la investigación y la
        extensión, hasta nuestra pasión por la innovación y la transferencia de
        conocimiento, estamos impulsando un cambio significativo en los sectores
        del metal y la madera. 
      </p>
    </div>
  </Container>
</section>

<style>
  .image{
    background-image:  linear-gradient(to bottom, #0e0e0e99 25%, #27282b66 100%), url(/img/fondo.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>