---
import Container from "./Container.astro";
const { id } = Astro.props;
---

<section class="my-10 mx-auto bg-[#cecece]" id={id}>
  <Container>
    <div class="flex flex-col my-10 gap-3">
      <div
        class="flex flex-col md:flex-row text-center md:text-left mx-5 md:mx-0 justify-center items-center gap-10"
      >
        <img class="size-32" src="/foto.jpg" alt="" />
        <div class="flex flex-col">
          <p class="font-extrabold text-2xl">Alexander Escarraga</p>
          <p class="font-semibold text-lg">Propietario</p>
          <p class="font-extralight">
            Alex, soy un apasionado artesano con una visión única, he dedicado
            toda la vida a transformar desechos de metal y madera en
            impresionantes obras de arte. Nacido y criado en un pequeño pueblo
            rural Muzo-Boyacá, y desde joven aprendí el valor del trabajo duro y
            la creatividad.
          </p>
        </div>
      </div>
      <div class="text-center">
        <a
          class="text-center bg-slate-600 hover:bg-yellow-200 transition hover:text-[#012029] text-white font-extrabold px-3 py-1 rounded-lg inline-block"
          href="/">Sobre Nosotros</a
        >
      </div>
    </div>
  </Container>
</section>
<style>
  @import url("https://fonts.cdnfonts.com/css/caviar-dreams");
  p,
  a {
    font-family: "Caviar Dreams", system-ui, sans-serif;
  }
</style>
