---
import Container from "./Container.astro";
---

<section class="mb-28 md:mt-20 md:mb-36">
  <Container>
    <div class="mt-0 grid grid-cols-1 md:grid-cols-5 items-center h-full">
      <div class="text-center md:text-left col-span-1 md:col-span-3">
        <h2 class="text-8xl mb-7">Artesanías en Metal y Madera</h2>
        <p class="text-lg font-extralight">
          ¡Descubre el encanto de la reinvención en ArtexAlex! Sumérgete en un
          mundo donde los desechos se transforman en verdaderas obras maestras
          de metal y madera. En nuestro local, cada pieza cuenta una historia de
          creatividad y sostenibilidad, ofreciéndote la oportunidad de decorar
          tu hogar con piezas únicas. Desde esculturas impresionantes hasta
          muebles elegantes, en ArtexAlex encontrarás la perfecta combinación de
          arte y conciencia ambiental.
        </p>
      </div>
      <picture class="col-span-1 md:col-span-2 mx-auto mt-10 md:mt-0">
        <img
          class="absolute top-44 bottom-0 right-4 -z-10 opacity-20 sm:top-44 sm:bottom-0 sm:right-36 md:opacity-100 md:static md:w-full w-96"
          decoding="async"
          src="/mainImg.avif"
          alt=""
        />
      </picture>
    </div>
  </Container>
</section>
<style>
  @import url("https://fonts.cdnfonts.com/css/caviar-dreams");

  p {
  }
  a {
    font-family: "Caviar Dreams", system-ui, sans-serif;
  }
</style>
