<section class="mb-20 mt-0 grid grid-cols-5 items-center h-[70vh]">
  <div class="col-span-3">
    <h2 class="text-4xl mb-5 font-extrabold">Artesanías a Partir de Desechos de Metal y Madera</h2>
    <p class="text-lg">
      Encuentra en nuestra tienda desde canastos de fique, productos en palma de iraca, hasta mochilas tejidas, accesorios artesanales y mucho más. Encuentra las mejores artesanías de Colombia en el Atlántico, hechas con técnicas tradicionales.
    </p>
  </div>
  <picture class="col-span-2  mx-auto">
    <img class="w-80" src="/imgMain.avif" alt="">
  </picture>
</section>
