<section class="mb-10 mt-0 grid grid-cols-4 items-center h-[80vh]">
  <div class="col-span-2">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet libero
        corporis eveniet! Illum accusantium asperiores quo explicabo, temporibus
        aperiam. Explicabo dolorem maxime alias, doloribus earum non voluptatem
        laudantium doloremque soluta!Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet libero
        corporis eveniet! Illum accusantium asperiores quo explicabo, temporibus
        aperiam. Explicabo dolorem maxime alias, doloribus earum non voluptatem
        laudantium doloremque soluta!Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet libero
        corporis eveniet! Illum accusantium asperiores quo explicabo, temporibus
        aperiam. 
    </p>
  </div>
  <picture class="col-span-2  mx-auto">
    <img class="w-60" src="/imgMain.avif" alt="">
  </picture>
</section>
