---
import Recycle from "@/components/icons/services/Recycle.astro";
import Labour from "@/components/icons/services/Labour.astro";
import Container from "./Container.astro";
import Products from "@/components/icons/services/Products.astro";

const {id } = Astro.props
---

<section class="py-16" id={id}>
  <Container>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 mx-9 md:mx-0 justify-center items-start font-extrabold"
    >
      <article class="flex flex-col justify-center items-center">
        <a
          href="/"
          class="p-5 hover:scale-110 rounded-full mb-3 bg-green-600 transition hover:bg-[#327D33]  ease-in-out"
        >
          <Recycle class="size-10 rounded-full" />
        </a>
        <h6 class="mb-3 text-xl text-center">Reutilización de Materiales</h6>
        <p class="font-extralight text-sm text-center">
          Nuestro enfoque no solo transforma desechos en obras de arte, sino que
          también contribuye al crecimiento sostenible de la comunidad y
          del medio ambiente. Juntos crearemos un futuro más verde para las generaciones venideras.
        </p>
      </article>
      <article class="flex flex-col justify-center items-center">
        <a
          href="/"
          class="p-5 hover:scale-110 rounded-full mb-3 hover:bg-purple-700 transition bg-[#9e6be2e7] ease-in-out"
        >
          <Products class="size-10 rounded-full" />
        </a>
        <h6 class="mb-3 text-xl text-center">
          Productos de Excelente Calidad
        </h6>
        <p class="font-extralight text-sm text-center">
          Sumérgete en un mundo donde la calidad es la norma y la excelencia es
          el estándar. Nuestros productos artesanales están cuidadosamente
          diseñados y elaborados para ofrecerte una experiencia única y
          satisfactoria.
        </p>
      </article>
      <article class="flex flex-col justify-center items-center">
        <a
          href="/"
          class="p-5 hover:scale-110 rounded-full mb-3 hover:bg-yellow-500 transition bg-[#FDD069] ease-in-out"
        >
          <Labour class="size-10 rounded-full" />
        </a>
        <h6 class="mb-3 text-xl text-center">Mano de Obra Creativa</h6>
        <p class="font-extralight text-sm text-center">
          En el corazón de cada creación hay una chispa de creatividad que
          enciende la llama de la imaginación. Nuestra mano de obra no se limita
          a la técnica, sino que se nutre de la pasión y la innovación.
        </p>
      </article>
    </div>
  </Container>
</section>
