---
import Container from "./Container.astro";
import LiteYoutube from "./Complements/LiteYoutube.astro";
---

<section class="mx-5 px-5 my-10 md:my-20">
  <Container>
    <LiteYoutube
      videoId="F6ierKPiFjg"
      backgroundImage="/img/imgVideo.avif"
      title=""
    />
  </Container>
</section>
