---
import Container from "./Container.astro";
---

<section class=" mx-auto mt-10">
<Container>
			<div class="flex flex-col text-center mx-auto">
        <iframe
          class="py-10 mx-auto md:w-[560px] md:h-[420px] w-[360px] h-[360px]"
          loading="lazy"
          src="https://www.youtube.com/embed/qNJHuxsbwgI?si=zAfgaEtOPg6MLZVn"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </Container>
  </section>
